<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jweb2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>jweb2</web-resource-name>
  		<url-pattern>/security01.jsp</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<description></description>
  		<role-name>role1</role-name>
  	</auth-constraint>
  </security-constraint>
  <!-- 기본 인증 방식 -->
  <!-- <login-config>
  	<auth-method>BASIC</auth-method>
  </login-config> -->
  
  <!-- 폼 기반 인증 -->
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login.jsp</form-login-page>
  		<form-error-page>/login_failed.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  
  <!-- 예외 처리 -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/exception/errorCode_msg.jsp</location>
  </error-page>
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>calcServlet</servlet-name>
  	<servlet-class>com.mvc.CalcServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>calcServlet</servlet-name>
  	<url-pattern>/mvc/calc</url-pattern>
  </servlet-mapping>
  
  <!-- 필터 - 한글 인코딩, 데이터 처리 -->
  <filter>
  	<filter-name>Filter01</filter-name>
  	<filter-class>com.filter.AuthenFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Filter01</filter-name>
  	<url-pattern>/filter/filter01_process.jsp</url-pattern>
  </filter-mapping>
  
  <!-- 필터 - 로그인 인증 -->
  <filter>
  	<filter-name>Filter02</filter-name>
  	<filter-class>com.filter.InitParamFilter</filter-class>
  	<init-param>
  		<param-name>param1</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>param2</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>Filter02</filter-name>
  	<url-pattern>/filter/filter02_process.jsp</url-pattern>
  </filter-mapping>
  
  <!-- 로그인 인증 필터 처리를 로그(log)로 기록하기 -->
  <filter>
  	<filter-name>Filter02_2</filter-name>
  	<filter-class>com.filter.LogFileFilter</filter-class>
  	<init-param>
		<param-name>filename</param-name>
		<param-value>C:/logs/monitor.log</param-value>  	
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>Filter02_2</filter-name>
  	<url-pattern>/filter/filter02_process.jsp</url-pattern>
  </filter-mapping>
  
</web-app>